.hero__navbar {
  display: flex;
  justify-content: space-around;
  height: 50px;
  padding: 10px;

  &--logo {
    font-size: 30px;
    font-weight: bold;
    color: rgb(254, 77, 1);
    line-height: 30px;
    text-align: center;
  }

  &--links {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      width: 500px;
      height: 100%;

      li {
        line-height: 40px;
        margin: 0 15px;
        a {
          text-decoration: none;
          font-size: 20px;
          color: rgb(255, 255, 255);
          display: inline-block;
          transition: transform 0.9s ease, color 0.3s ease;
          &:hover {
            color: rgb(254, 77, 1);
            cursor: pointer;
            transform: scale(1.4);
            padding-bottom: 2px;
          }
        }
      }
    }
  }

  &--search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

    [type] {
      border: none;
      outline: 1px solid tomato;
      height: 30px;
      padding: 5px;
      font-size: 18px;
      background-color: transparent;
      color: white;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    .btn {
      line-height: 30px;
      background-color: rgb(254, 77, 1);
      height: 31px;
      padding: 0 10px;
      text-decoration: none;
      font-size: 18px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      color: white;
    }
  }
}
